{% extends 'base_test.html' %}
{% load i18n %}
{% block additional-headers %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <link href="https://cdn.datatables.net/buttons/1.4.2/css/buttons.dataTables.min.css" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="portlet box red">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-reorder"></i> Filter
            </div>
        </div>

        <div class="portlet-body ">

           <div class="row">
        <div class="col-md-3"><label class="control-label">Start date</label><br>
            <input class = "form-control"  type="date" name="reservation" id="start_date" />
        </div>
           <div class="col-md-3"><label class="control-label">End date</label><br>
            <input class = "form-control"  type="date" name="reservation" id="end_date" />
        </div>

        <div class="col-md-2"><label class="control-label">Select RSC </label><br>
            <select class="form-control" id = "rsc_name">
            <option value="%">select</option>
                {% for data in dataset %}
                    <option value="{{ data.rsc_name }}">{{ data.rsc_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-3">
            <label class="control-label"> </label><br>
            <button id="filter_so_list" style="margin-top:8px;" class="btn red-custom btn-md"  data-original-title="" title="">Search</button>
        </div>

    </div>
        </div>
    </div>

     <div class="portlet box red">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-reorder"></i> Stock Out History
            </div>
        </div>

        <div class="portlet-body ">

            <div id="stockout_history_table_block"></div>
        </div>
    </div>






{% endblock %}

{% block additional-javascript %}

    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.flash.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.print.min.js"></script>
    <script type="text/javascript" src="/static/plugins/DataTables-1.10.15/extensions/Buttons/js/buttons.html5.js"></script>
    <script>
        var rsc_name = '%';
        var start_date = '';
        var end_date = '';


        $(document).ready(function(){
            get_stockout_history_table()
            if ($('.alert-block').is(':visible')) {
                window.setTimeout(function () {
                        $(".alert-success").fadeTo(1500, 0).slideUp(500, function () {
                            $(this).remove();
                        });
                    }, 5000);
                }

        });


        function ajaxcall() {
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    function getCookie(name) {
                        var cookieValue = null;
                        if (document.cookie && document.cookie != '') {
                            var cookies = document.cookie.split(';');
                            for (var i = 0; i < cookies.length; i++) {
                                var cookie = jQuery.trim(cookies[i]);
                                // Does this cookie string begin with the name we want?
                                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                    }

                    if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                        // Only send the token to relative URLs i.e. locally.
                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                    }
                }
            });
        }

        function getfilterCriteria(){
            rsc_name = $('#rsc_name').val();
            start_date = $('#start_date').val();
            end_date = $('#end_date').val();
        }

        function get_stockout_history_table(){
            getfilterCriteria()
            $.ajax({
                url: '/inventory/get_stockout_history_data/',
                type: 'POST',
                data:{'rsc_name':rsc_name,'start_date' : start_date,'end_date' : end_date },
                success: function (data) {
                    $("#stockout_history_table_block").html(data);
                    $('#stockout_history_table').dataTable({
                                "scrollX": true, "ordering": false,"searching":true,
                                deferRender: true,
                                dom: 'Bfrtip'
                                ,
                                buttons: [
                                    {
                                        filename: "Product",
                                        title: "",
                                        text: "<strong>StockOut</strong>",
                                        extend: 'excel'
                                    }
                                ]

                            });

                }
            });
        //}
        }
        $(document).on("click", "#filter_so_list", function () {
         get_stockout_history_table()
     });
    </script>

{% endblock %}