<table id="product_table" class="table table-bordered table-striped table-condensed flip-content">
                <thead class="flip-content">
                <tr>
                    <th>Serial</th>
                    <th>Name</th>
                    <th>Balance</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for data in dataset %}
                <tr>
                    <td>{{data.serial_no |default_if_none:"--"}}</td>
                    <td>{{data.product_name |default_if_none:"--"}}</td>
                    <td>{{data.balance |default_if_none:"--"}}</td>
                    <td>
                        <button onclick="stockin_product('{{ data.id }}','{{ data.product_name }}')" id = ""  class="btn btn-primary btn-md" data-original-title="" title="">Stock In</button>

                        <button onclick="stockout_product('{{ data.id }}','{{ data.product_name }}','{{ data.balance }}')" id = ""  class="btn btn-danger" data-original-title="" title="">Stock Out</button>

                    </td>

                </tr>
                {% endfor %}
                </tbody>
        </table>