
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>IOM-OIM</title>		
		<link rel="stylesheet" href="/static/dashboard/assets/css/style.css">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
	<section class="header-outer-wrap">
		<header class="header-main">
			<div class="container">
				<div class="row">
					<nav class="navbar navbar-main" role="navigation">
						<div class="container-fluid">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<a class="navbar-brand" href="index.php">
									<img src="assets/images/msurvey-logo.png" alt="msurvey">
								</a>
							</div>
					
							<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse navbar-ex1-collapse">
								
								<ul class="nav navbar-nav navbar-right">
									<li class='active' ><a href="index.php">PUBLIC PORTAL</a></li>
									<li  ><a href="login.php">DATA MANAGEMENT PORTAL</a></li>
								</ul>
							</div><!-- /.navbar-collapse -->
						</div>
					</nav>
				</div>
			</div>
		</header>
	</section><!-- header-outer-wrap --><section class="home-slider-section custom-slider get-height"> 
  <!-- Full Page Image Background Carousel Header -->
  <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="3000"> 
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    
    
    <!-- Wrapper for Slides -->
    <div class="carousel-inner">
      <div class="item active">
        <div class="fill" style="background-image:url('assets/images/home/slide1.jpg');"></div>
        <div class="carousel-caption">
          <h2>Pro MIS PROTTASHA MANAGEMENT INFORMATION SYSTEM</h2>
          <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#design-solution-c">Reintegration</a>
        </div>
      </div>
      <div class="item ">
        <div class="fill" style="background-image:url('assets/images/home/slide2.jpg');"></div>
        <div class="carousel-caption">
          <h2>Pro MIS PROTTASHA MANAGEMENT INFORMATION SYSTEM</h2>
          <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#design-solution-c">Awareness Raising</a>
        </div>
      </div>
      <div class="item">
        <div class="fill" style="background-image:url('assets/images/home/slide3.jpg');"></div>
        <div class="carousel-caption">
          <h2>Pro MIS PROTTASHA MANAGEMENT INFORMATION SYSTEM</h2>
          <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#design-solution-c">Monitoring and Evaluation</a>
        </div>
      </div>
      <div class="item">
        <div class="fill" style="background-image:url('assets/images/home/slide4.jpg');"></div>
        <div class="carousel-caption">
          <h2>Pro MIS PROTTASHA MANAGEMENT INFORMATION SYSTEM</h2>
          <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#design-solution-c">Read More</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /.welcom-section -->

<section class="welcome-section base-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="title text-center text-primary">Bangladesh: Sustainable Reintegration and Improved Migration Governance (Prottasha)</h2>
        <p class="text-center">To contribute to the sustainable reintegration of returnees and the progressive achievement 
          of SDG 10.7, “to facilitate orderly, safe, regular and responsible migration and mobility of people, including through 
          the implementation of planned and well-managed policies” in Bangladesh</p>
      </div>
      <!-- /.col-md-12 --> 
    </div>
    <!-- /.row --> 
  </div>
  <!-- /.container --> 
</section>
<!-- /.welcom-section -->

<section class="project-overview base-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="title text-center text-primary">Project Overview</h2>
        <p class="text-center"><strong>Duration:</strong> 4 years (April 2017—April 2021) | <strong>Funded by:</strong> The European Union | <strong>Lead Ministries:</strong> The Ministry of Expatriates Welfare and Overseas Employment (MoEWOE) and The Ministry of Foreign Aairs (MoFA) | <strong>Implementing Partner:</strong> BRAC | <strong>Service Coverage:</strong> 64 Districts of Bangladesh | <strong>Number of Primary Beneficiaries Reached:</strong> 947</p>
        <div class="text-center"> <a href="#" class="btn btn-primary">Read More</a> </div>
      </div>
      <!-- /.col-md-12 --> 
    </div>
    <!-- /.row --> 
  </div>
  <!-- /.container --> 
</section>
<section class="service-section base-padding service-section-bg">
  <div class="container">
    <h2 class="main-title title text-center text-primary">STRATEGIC OBJECTIVE</h2>
    <div class="row">
      <div class="col-sm-4 col-md-4">
        <div class="thumbnail"> <img src="assets/images/design-solution.jpg" alt="DESIGN SOLUTIONS">
          <div class="caption">
            <h2 class="title text-primary text-left" > Strategic Objective 01 </h2>
            <p> Irregular migrants returning to Bangladesh are sustainably reintegrated </p>
            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#design-solution-c">Read More</a> </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-4">
        <div class="thumbnail"> <img src="assets/images/coding.jpg" alt="Optimize Decisions">
          <div class="caption">
            <h2 class="title text-primary text-left"> Strategic Objective 02 </h2>
            <p> The capacities of the Government of Bangladesh and other migration actors are strengthened to manage migration at central and local levels and to ensure reintegration of irregular migrants </p>
            <a href="develop-customize-solution.php" class="btn btn-primary" data-toggle="modal" data-target="#develop-solution">Read More</a> </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-4">
        <div class="thumbnail"> <img src="assets/images/unity.jpg" alt="SOLUTIONS MANAGE">
          <div class="caption">
            <h2 class="title text-primary text-left"> Strategic Objective 03 </h2>
            <p> Returnee migrants, potential migrants, families and community are empowered to make informed decisions about migration and adopt regular, safe, orderly and responsible migration behaviours including remittance management </p>
            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#implement-solution">Read More</a> </div>
        </div>
      </div>
    </div>
    <!-- /.row --> 
  </div>
  <!-- /.container --> 
</section>
<!-- /.welcome-section -->

<section class=" base-padding">
  <div class="container">
  <div class="row">
    <h2 class="title text-center text-primary">Sustainable Reintegration</h2>
  </div>
  <!-- /.row -->
  <div class="row">
    <div class=" col-md-6">
      <div class="thumbnail">
        <div class="caption">

          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="4"><h2 class="title1 text-primary1 text-left">Beneficiaries Receiving Economic Reintegration Support</h2></td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td align="right" class="july-top">July</td>
              <td align="right" class="cumulative-top">Cumulative</td>
            </tr>
            <tr>
              <td><img src="assets/images/icons/reintegration-plans.png">
              <td align="left">Completed Reintegration Plans</td>
              <td align="right" class="july">27</td>
              <td align="right" class="cumulative">309</td>
            </tr>
            <tr>
              <td><img src="assets/images/icons/kind-support.png"></td>
              <td align="left">Received in Kind Support</td>
              <td align="right" class="july">24</td>
              <td align="right" class="cumulative">61</td>
            </tr>
            <tr>
              <td><img src="assets/images/icons/skills-training.png"></td>
              <td align="left">Referred for Skills Training</td>
              <td align="right" class="july">01</td>
              <td align="right" class="cumulative">17</td>
            </tr>
            <tr>
              <td><img src="assets/images/icons/other-support.png"></td>
              <td align="left">Referred for Other Support</td>
              <td align="right" class="july">05</td>
              <td align="right" class="cumulative">91</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class=" col-md-6">
      <div class="thumbnail">
        <div class="caption">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="4"><h2 class="title1 text-primary1 text-left">Beneficiaries Receiving Psycho-Social Support</h2></td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td align="right" class="july-top">July</td>
              <td align="right" class="cumulative-top">Cumulative</td>
            </tr>
            <tr>
              <td><img src="assets/images/icons/enrolled.png"></td>
              <td align="left">Enrolled</td>
              <td align="right" class="july">09</td>
              <td align="right" class="cumulative">275</td>
            </tr>
            <tr>
              <td><img src="assets/images/icons/reintegration-plans.png"></td>
              <td align="left">Completed</td>
              <td align="right" class="july">11</td>
              <td align="right" class="cumulative">149</td>
            </tr>
            <tr>
              <td><img src="assets/images/icons/trauma-counselling.png"></td>
              <td align="left">Referred for Trauma Counselling</td>
              <td align="right" class="july">00</td>
              <td align="right" class="cumulative">07</td>
            </tr>
            <tr>
              <td><img src="assets/images/icons/medical-treatment.png"></td>
              <td align="left">Referred for Medical Treatment</td>
              <td align="right" class="july">04</td>
              <td align="right" class="cumulative">10</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class=" col-md-6">
      <div class="thumbnail">
        <div class="caption">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="4"><h2 class="title1 text-primary1 text-left">Social Reintegration Support</h2></td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td align="right" class="july-top">July</td>
              <td align="right" class="cumulative-top">Cumulative</td>
            </tr>
            <tr>
              <td><img src="assets/images/icons/workshops.png"></td>
              <td align="left">Workshops</td>
              <td align="right" class="july">13</td>
              <td align="right" class="cumulative">555</td>
            </tr>
            <tr>
              <td><img src="assets/images/icons/ipt-shows.png"></td>
              <td align="left">IPT Shows</td>
              <td align="right" class="july">128</td>
              <td align="right" class="cumulative">1069</td>
            </tr>
            <tr>
              <td><img src="assets/images/icons/forum-meetings.png"></td>
              <td align="left">Forum Meetings</td>
              <td align="right" class="july">14</td>
              <td align="right" class="cumulative">476</td>
            </tr>
            <tr>
              <td><img src="assets/images/icons/forum-meetings.png"></td>
              <td align="left">DCC Meetings</td>
              <td align="right" class="july">04</td>
              <td align="right" class="cumulative">32</td>
            </tr>
            <tr>
              <td><img src="assets/images/icons/video-shows.png"></td>
              <td align="left">Video Shows</td>
              <td align="right" class="july">343</td>
              <td align="right" class="cumulative">617</td>
            </tr>
            <tr>
              <td><img src="assets/images/icons/school-quiz.png"></td>
              <td align="left">School Quiz</td>
              <td align="right" class="july">60</td>
              <td align="right" class="cumulative">91</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class=" col-md-6">
      <div class="thumbnail">
        <div class="caption">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="4"><h2 class="title1 text-primary1 text-left">Number of people reached with messages on safe migration, reintegration and remittance management</h2></td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td align="right" class="july-top">July</td>
              <td align="right" class="cumulative-top">Cumulative</td>
            </tr>
            <tr>
              <td><img src="assets/images/icons/workshops.png"></td>
              <td align="left">IPT Shows</td>
              <td align="right" class="july">39,215</td>
              <td align="right" class="cumulative">3,07,838</td>
            </tr>
            <tr>
              <td><img src="assets/images/icons/migration-fairs.png"></td>
              <td align="left">Migration Fairs</td>
              <td align="right" class="july">00</td>
              <td align="right" class="cumulative">6176</td>
            </tr>
            <tr>
              <td><img src="assets/images/icons/forum-meetings.png"></td>
              <td align="left">Tea Stall Meetings</td>
              <td align="right" class="july">2,677</td>
              <td align="right" class="cumulative">9,405</td>
            </tr>
            <tr>
              <td><img src="assets/images/icons/school-programme.png"></td>
              <td align="left">School Programme</td>
              <td align="right" class="july">5,304</td>
              <td align="right" class="cumulative">6,240</td>
            </tr>
            <tr>
              <td><img src="assets/images/icons/video-shows.png"></td>
              <td align="left">Video Shows</td>
              <td align="right" class="july">71,655</td>
              <td align="right" class="cumulative">1,32,965</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  
  
 
  <div class=" row">
    <div class=" col-md-6">
      <div class="thumbnail">
        <div class="caption">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="4" align="center" valign="middle " bgcolor="#CCCCCC" class="cumulative-top">Returnees Identified</td>
            </tr>
            <tr>
              <td colspan="2">&nbsp;</td>
              <td align="right" class="july-top">July</td>
              <td align="right" class="cumulative-top"><strong>Cumulative</strong></td>
            </tr>
            <tr>
              <td align="left" valign="middle"><img src="assets/images/icons/workshops.png"></td>
              <td align="left">Number of ToT Conducted</td>
              <td align="right" class="july">08</td>
              <td align="right" class="cumulative">1000</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class=" col-md-6">
      <div class="thumbnail">
        <div class="caption">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="4" align="center" valign="middle " bgcolor="#CCCCCC" class="cumulative-top">Returnees Proled and Screened</td>
            </tr>
            <tr>
              <td colspan="2">&nbsp;</td>
              <td align="right" class="july-top">July</td>
              <td align="right" class="cumulative-top"><strong>Cumulative</strong></td>
            </tr>
            <tr>
              <td align="left" valign="middle"><img src="assets/images/icons/kind-support.png"></td>
              <td align="left">EU Transit</td>
              <td align="right" class="july">52</td>
              <td align="right" class="cumulative">305</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class=" col-md-6">
      <div class="thumbnail">
        <div class="caption">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="4" align="center" valign="middle " bgcolor="#CCCCCC" class="cumulative-top">Increase capacity of migrants and their families on financial literacy and awareness of available products and services</td>
            </tr>
            <tr>
              <td colspan="2">&nbsp;</td>
              <td align="right" class="july-top">July</td>
              <td align="right" class="cumulative-top"><strong>Cumulative</strong></td>
            </tr>
            <tr>
              <td align="left" valign="middle"><img src="assets/images/icons/workshops.png"></td>
              <td align="left">Number of ToT Conducted</td>
              <td align="right" class="july">01</td>
              <td align="right" class="cumulative">01</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class=" col-md-6">
      <div class="thumbnail">
        <div class="caption">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="6" align="center" valign="middle " bgcolor="#CCCCCC" class="cumulative-top">Hotline Services</td>
            </tr>
            <tr>
              <td colspan="4">&nbsp;</td>
              <td align="right" class="july-top">July</td>
              <td align="right" class="cumulative-top"><strong>Cumulative</strong></td>
            </tr>
            <tr>
              <td align="left" valign="middle"><img src="assets/images/icons/female.png"></td>
              <td align="left" class="cumulative">06</td>
              <td align="left" valign="middle"><img src="assets/images/icons/male.png"></td>
              <td align="left" class="july">07</td>
              <td align="right" class="july">13</td>
              <td align="right" class="cumulative">242</td>
            </tr>
            <tr>
              <td colspan="6" class="cumulative-top">164 beneciaries received immediate assistance to date</td>

            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>



<section>
	<div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="thumbnail"><img src="assets/images/bd-map.png"></div>
            </div>
        </div>
    </div>
</section>




<section class="testimonial-section base-padding">
  <div class="container">
    <h2 class="title text-center text-white">LATEST EVENTS AND REPORTS</h2>
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <div class="thumbnail"> <img src="assets/images/pdf1.jpg" alt="DESIGN SOLUTIONS">
          <div class="caption">
            <h2 class="title text-primary text-left" > MGI Indicator Report I 2019 </h2>
            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#design-solution-c">Download</a> </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="thumbnail"> <img src="assets/images/pdf2.jpg" alt="DESIGN SOLUTIONS">
          <div class="caption">
            <h2 class="title text-primary text-left" > SDG Indicator Report I 2019 </h2>
            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#design-solution-c">Download</a> </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="base-padding">
  <div class="container">
    <div class="row">
      <h2 class="main-title title text-center text-primary">The project is</h2>
      <div class="row">
        <div class="col-lg-3 col-md-12 text-center">
          <div class="service-box"> <img src="assets/images/partner/bd.png">
            <p>This Project is led by Government of the People's Republic of Bangladesh</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-12 text-center">
          <div class="service-box"> <img src="assets/images/partner/un.png">
            <p>Funded by the European Union</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-12 text-center">
          <div class="service-box"> <img src="assets/images/partner/iom.png">
            <p>Implemented by IOM</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-12 text-center">
          <div class="service-box"> <img src="assets/images/partner/brac.png">
            <p>In Partnership with BRAC</p>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row --> 
  </div>
  <!-- /.container --> 
</section>
<!-- /.service-section -->
	<footer class="footer-first-section">
	<div class="container">
			<div class="row ">
				<div class="col-md-8">
					<h2 class="main-title text-primary">International Organization for Migration</h2>
					<p> Bangladesh Country Office </br>
						House # 13A, Road # 136, Gulshan-1,</br> 
						Dhaka-1212, Bangladesh
					</p>
					<p>
						T. +88 02 5504 4811 – 13</br> 
						F. +88 02 5504 4818 – 19
					</p>
				</div>	
				
				<div class="col-md-4">
					<h2 class="main-title text-primary">IOM Global Website</h2>
						<p>
							<a target="_blank" href="www.iom.int"title="website">www.iom.int</a></br>
							<a target="_blank" href="#"title="Terms & Conditons">Terms & Conditions</a></br>
							<a target="_blank" href="#"title="Privacy Policy">Privacy Policy</a>
						</p>

					<ul class="list-inline social text-left">

						<li>
							<a target="_blank" class="instagram" href="#"  data-toggle="tooltip" data-placement="top" title="Follow us on Instagram" style="padding-left: 0px;">
								<svg xmlns="http://www.w3.org/2000/svg" width="77.9" height="77.9" viewBox="0 0 77.9 77.9"><style>.st0{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;}</style><path class="st0" d="M10 0h57.9c5.5 0 10 4.1 10 10v57.9c0 5.9-4.5 10-10 10H10c-5.5 0-10-4.1-10-10V10C0 4.1 4.5 0 10 0zm46.8 8.7c-1.9 0-3.5 1.6-3.5 3.5v8.4c0 1.9 1.6 3.5 3.5 3.5h8.8c1.9 0 3.5-1.6 3.5-3.5v-8.4c0-1.9-1.6-3.5-3.5-3.5h-8.8zm12.3 24.2h-6.9c.6 2.1 1 4.4 1 6.7 0 13-10.8 23.5-24.2 23.5-13.4 0-24.2-10.5-24.2-23.5 0-2.3.4-4.6 1-6.7H8.7v32.9c0 1.7 1.4 3.1 3.1 3.1H66c1.7 0 3.1-1.4 3.1-3.1V32.9zM39 23.6c-8.6 0-15.6 6.8-15.6 15.2S30.4 54 39 54s15.6-6.8 15.6-15.2S47.7 23.6 39 23.6zm0 0"/></svg>
							</a>
						</li>
						<li>
							<a target="_blank" class="twitter" href="#" data-toggle="tooltip" data-placement="top" title="Follow us on Instagram" >
								<svg xmlns="http://www.w3.org/2000/svg" width="60.5" height="49.1" viewBox="0 0 60.5 49.1"><style>.st0{fill:#1da1f2;}</style><path class="st0" d="M60.5 5.8c-2.2 1-4.6 1.7-7.1 2 2.6-1.5 4.5-4 5.5-6.9-2.4 1.4-5.1 2.5-7.9 3C48.8 1.5 45.5 0 42 0c-7 0-12.5 5.6-12.5 12.4 0 1 .1 1.9.3 2.8-10.3-.5-19.4-5.4-25.6-13-1.1 1.8-1.7 4-1.7 6.2 0 4.3 2.2 8.1 5.5 10.3-2-.1-3.9-.6-5.6-1.5v.2c0 6 4.3 11 9.9 12.2-1 .3-2.1.4-3.3.4-.8 0-1.6-.1-2.3-.2 1.6 4.9 6.2 8.5 11.6 8.6-4.2 3.3-9.6 5.3-15.4 5.3-1 0-2-.1-3-.2 5.5 3.5 12 5.6 19 5.6 22.8 0 35.3-18.9 35.3-35.3v-1.6c2.5-1.7 4.6-3.9 6.3-6.4zm0 0"/></svg>
							</a>
						</li>
						<li>
							<a target="_blank" class="facebook" href="#" data-toggle="tooltip" data-placement="top" title="Like us on Facebook" >
								<svg xmlns="http://www.w3.org/2000/svg" width="41.6" height="76.9" viewBox="0 0 41.6 76.9"><style>.st0{fill:#FFFFFF;}</style><path class="st0" d="M40 0H30C18.8 0 11.6 7.4 11.6 18.9v8.7h-10c-.9 0-1.6.7-1.6 1.6v12.6c0 .9.7 1.6 1.6 1.6h10v31.9c0 .9.7 1.6 1.6 1.6h13.1c.9 0 1.6-.7 1.6-1.6V43.4h11.7c.9 0 1.6-.7 1.6-1.6V29.2c0-.4-.2-.8-.5-1.1-.3-.3-.7-.5-1.1-.5H27.8v-7.4c0-3.6.8-5.4 5.5-5.4H40c.9 0 1.6-.7 1.6-1.6V1.6C41.6.7 40.9 0 40 0zm0 0"/></svg>
							</a>
						</li>
						<li>
							<a target="_blank" class="youtube" href="#" data-toggle="tooltip" data-placement="top" title="Youtube">
								<svg xmlns="http://www.w3.org/2000/svg" width="248" height="174.5" viewBox="0 0 248 174.5"><style>.st0{fill:#FFFFFF;}</style><path class="st0" d="M238.3 15c-8.9-10.6-25.5-15-57-15H66.7c-32.3 0-49.1 4.6-58 15.9C0 27 0 43.3 0 65.8v42.9c0 43.6 10.3 65.8 66.7 65.8h114.6c27.4 0 42.5-3.8 52.4-13.2 10.1-9.6 14.4-25.4 14.4-52.6V65.8c-.1-23.8-.8-40.1-9.8-50.8zm-79.1 78.2l-52 27.2c-1.2.6-2.4.9-3.7.9-1.4 0-2.9-.4-4.1-1.2-2.4-1.4-3.9-4-3.9-6.8V59.1c0-2.8 1.5-5.4 3.8-6.8 2.4-1.5 5.4-1.6 7.8-.3l52 27c2.6 1.4 4.3 4.1 4.3 7.1.1 3-1.5 5.7-4.2 7.1zm0 0"/></svg>
							</a>
						</li>
					</ul>	


				</div>
			</div>
		</div>
		</footer>


		<footer class="footer-section">
		<div class="container">
			<div class="row ">
				<div class="col-md-8">
					<div class="copy-right text-white">
						Copyright © 2019 mPower Social Enterprises Ltd.. All Rights Reserved
					</div>
				</div>	
				
			</div>
		</div>
	</footer>
		<script src="assets/js/plugins.min.js"></script> 
		<script src="assets/js/vendors/mixitup.min.js"></script> 
		<script>
			var containerEl = document.querySelector('.mix-container');
			var mixer = mixitup(containerEl,  {
				    selectors: {
				        control: '[data-mixitup-control]'
				    }
				});
		</script>
	</body>
</html>