{% include 'usermodule/header.html' %}
{% include 'usermodule/navigation.html' %}
<link rel="stylesheet" href="/static/dashboard/assets/css/login.css">
<section>
  <div class=" container-fluid login-area">
    <div class="row">
      <div class="col-lg-12 logo"><img src="/static/dashboard/assets/images/login/admin-logo.png" width="200" height="146"></div>
    </div>
    <div class="row">
      <div class="loginmodal-container">
        <form method="post" action="/usermodule/login/">
             {% csrf_token %}
          <input type="text" name="username" id = "username" placeholder="Username">
          <input type="password" name="password" placeholder="Password">
            <input type="hidden" id="redirect_url" name="redirect_url" value="{{ redirect_url }}"/>
          <input type="submit" name="login" class="login loginmodal-submit" value="LOGIN">
        </form>
        <div class="login-help"> <a href="#" onclick="get_forget_pass_modal()">Forgot Password</a> </div>
      </div>
    </div>
    <section class="base-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="thumbnail">
              <div class="caption">
                <div class="logo2"> <img src="/static/dashboard/assets/images/partner/login-logo.png"> </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.row --> 
      </div>
      <!-- /.container --> 
    </section>
  </div>
</section>


    <!-- The Modal  Add product -->
<div class="modal" id="forget_password">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
     <!-- <div class="modal-header">
        <h4 class="modal-title" id="modal_title">Add Product</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>-->

      <!-- Modal body -->
      <div class="modal-body">
        <form class="horizontal-form"  method="post" id = "forget_pass_form" action="/usermodule/send_otp/"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label >Enter email address you are registered with. </label>
                                <input type="text" class="form-control" name="email" id="email" required onblur="check_valid_user_email(this)">
{#                                <input type="hidden" id="user_name" name="user_name" value = "">#}
                                <input type="hidden" name="baseurl" value="" id="baseurl">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-danger pull-right" id="submit" name="submit" type="submit"
                                    data-original-title=""
                                    title="">Submit</button>
                            <!--<button onclick="history.go(-1);" style="margin-left:10px;" type="button"
                                    class="btn btn-info pull-left" data-original-title="" title="">Cancel
                            </button>-->
                        </div>
                    </div>

                </div>

            </form>
      </div>

      <!-- Modal footer
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div> -->

    </div>
  </div>
</div>
<footer class="footer-section">
		<div class="container">
			<div class="row ">
				<div class="col-md-8">
					<div class="copy-right text-white">
						Copyright © 2019 mPower Social Enterprises Ltd.. All Rights Reserved
					</div>
				</div>

				<div class="col-md-4">
					<ul class="list-inline social text-right">

						<li>
			    				<a target="_blank" class="twitter" href="#" data-toggle="tooltip" data-placement="top" title="Follow us on Twitter" >
								<svg xmlns="http://www.w3.org/2000/svg" width="60.5" height="49.1" viewBox="0 0 60.5 49.1"><style>.st0{fill:#FFFFFF;}</style><path class="st0" d="M60.5 5.8c-2.2 1-4.6 1.7-7.1 2 2.6-1.5 4.5-4 5.5-6.9-2.4 1.4-5.1 2.5-7.9 3C48.8 1.5 45.5 0 42 0c-7 0-12.5 5.6-12.5 12.4 0 1 .1 1.9.3 2.8-10.3-.5-19.4-5.4-25.6-13-1.1 1.8-1.7 4-1.7 6.2 0 4.3 2.2 8.1 5.5 10.3-2-.1-3.9-.6-5.6-1.5v.2c0 6 4.3 11 9.9 12.2-1 .3-2.1.4-3.3.4-.8 0-1.6-.1-2.3-.2 1.6 4.9 6.2 8.5 11.6 8.6-4.2 3.3-9.6 5.3-15.4 5.3-1 0-2-.1-3-.2 5.5 3.5 12 5.6 19 5.6 22.8 0 35.3-18.9 35.3-35.3v-1.6c2.5-1.7 4.6-3.9 6.3-6.4zm0 0"/></svg>
							</a>
						</li>
						<li>
							<a target="_blank" class="facebook" href="#" data-toggle="tooltip" data-placement="top" title="Like us on Facebook" >
								<svg xmlns="http://www.w3.org/2000/svg" width="41.6" height="76.9" viewBox="0 0 41.6 76.9"><style>.st0{fill:#FFFFFF;}</style><path class="st0" d="M40 0H30C18.8 0 11.6 7.4 11.6 18.9v8.7h-10c-.9 0-1.6.7-1.6 1.6v12.6c0 .9.7 1.6 1.6 1.6h10v31.9c0 .9.7 1.6 1.6 1.6h13.1c.9 0 1.6-.7 1.6-1.6V43.4h11.7c.9 0 1.6-.7 1.6-1.6V29.2c0-.4-.2-.8-.5-1.1-.3-.3-.7-.5-1.1-.5H27.8v-7.4c0-3.6.8-5.4 5.5-5.4H40c.9 0 1.6-.7 1.6-1.6V1.6C41.6.7 40.9 0 40 0zm0 0"/></svg>
							</a>
						</li>

						<li>
							<a target="_blank" class="linkedin" href="#" data-toggle="tooltip" data-placement="top" title="LinkedIn">
								<svg xmlns="http://www.w3.org/2000/svg" width="48.7" height="48.6" viewBox="0 0 48.7 48.6"><style>.st0{fill:#FFFFFF;}</style><g id="XMLID_1_"><path id="XMLID_3_" class="st0" d="M.8 16.1h10.1v32.5H.8V16.1zM5.9 0c3.2 0 5.9 2.6 5.9 5.9s-2.6 5.9-5.9 5.9C2.6 11.7 0 9.1 0 5.9S2.6 0 5.9 0"/><path id="XMLID_2_" class="st0" d="M17.2 16.1h9.7v4.4h.1c1.4-2.6 4.6-5.2 9.6-5.2 10.2 0 12.1 6.7 12.1 15.5v17.8H38.6V32.8c0-3.8-.1-8.6-5.2-8.6-5.3 0-6 4.1-6 8.3v16.1H17.2V16.1z"/></g></svg>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>

{% block additional-javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{{STATIC_URL}}assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

    <script>
        function get_forget_pass_modal() {
            $('#forget_password').appendTo("body").modal('show');
{#            $('#user_name').val($('#username').val());#}
            $('#email').val('');
            $('#baseurl').val(window.location.origin);
        }



        $(document).on("submit", "#forget_pass_form", function (event) {
            event.preventDefault();
            form_url = $(this).attr('action')
            ajaxcall()
            $.ajax({
                type: 'POST',
                url: form_url,
                data: $(this).serialize(),
                success: function (data) {
                    alert(data)
                    $('#forget_password').modal('toggle');
                },
                error: function (xhr) {
                    alert(xhr.responseText); // the message
                    $('#forget_password').modal('toggle');
                }
            }); //ajax endblock
            return false;
        });

        function ajaxcall() {
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    function getCookie(name) {
                        var cookieValue = null;
                        if (document.cookie && document.cookie != '') {
                            var cookies = document.cookie.split(';');
                            for (var i = 0; i < cookies.length; i++) {
                                var cookie = jQuery.trim(cookies[i]);
                                // Does this cookie string begin with the name we want?
                                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                    }

                    if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                        // Only send the token to relative URLs i.e. locally.
                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                    }
                }
            });
        }

        function check_valid_user_email(obj) {
            $.ajax({
                type: 'POST',
                url: '/usermodule/check_valid_user_email/',
                data: {'user_name' : $("#user_name").val(),'email' : obj.value},
                success: function (data) {
                    console.log(data)
                },
                error: function(xhr) {
                    alert(xhr.responseText); // the message
                    $('#forget_password').modal('toggle');
                    //$('.modal-backdrop').hide();
                    }
            }); //ajax endblock
            return false;

        }

    </script>
{% endblock %}


