	<section class="header-outer-wrap">
		<header class="header-main">
			<div class="container">
				<div class="row">
					<nav class="navbar navbar-main" role="navigation">
						<div class="container-fluid">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<a class="navbar-brand" href="index.php">
									<img src="/static/dashboard/assets/images/msurvey-logo.png" alt="msurvey">
								</a>
							</div>
					
							<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse navbar-ex1-collapse">
								
								<ul class="nav navbar-nav navbar-right">
									<li><a href="/usermodule/dashboard/" class="{% if home == 'home' %}active{% endif %}">PUBLIC PORTAL</a></li>
									<li><a href="/usermodule/login/" class="{% if home == 'login' %}active{% endif %}">DATA MANAGEMENT PORTAL</a></li>
								</ul>
							</div><!-- /.navbar-collapse -->
						</div>
					</nav>
				</div>
			</div>
		</header>
	</section><!-- header-outer-wrap -->