{% extends 'header.html' %}
{% extends 'navigation.html' %}
<section class="home-slider-section custom-slider get-height"> 
  <!-- Full Page Image Background Carousel Header -->
  <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="3000"> 
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    
    <!-- Wrapper for Slides -->
    <div class="carousel-inner">
      <div class="item active">
        <div class="fill" style="background-image:url('assets/images/home/slide1.jpg');"></div>
        <div class="carousel-caption">
          <h2>Pro MIS PROTTASHA MANAGEMENT INFORMATION SYSTEM</h2>
        </div>
      </div>
      <div class="item ">
        <div class="fill" style="background-image:url('assets/images/home/slide2.jpg');"></div>
        <div class="carousel-caption">
          <h2>Pro MIS PROTTASHA MANAGEMENT INFORMATION SYSTEM</h2>
        </div>
      </div>
      <div class="item">
        <div class="fill" style="background-image:url('assets/images/home/slide3.jpg');"></div>
        <div class="carousel-caption">
          <h2>Pro MIS PROTTASHA MANAGEMENT INFORMATION SYSTEM</h2>
        </div>
      </div>
      <div class="item">
        <div class="fill" style="background-image:url('assets/images/home/slide4.jpg');"></div>
        <div class="carousel-caption">
          <h2>Pro MIS PROTTASHA MANAGEMENT INFORMATION SYSTEM</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /.welcom-section -->

<section class="welcome-section base-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="title text-center text-primary">Bangladesh: Sustainable Reintegration and Improved Migration Governance Project</h2>
        <p class="text-center">To contribute to the sustainable reintegration of returnees and the progressive achievement 
          of SDG 10.7, “to facilitate orderly, safe, regular and responsible migration and mobility of people, including through 
          the implementation of planned and well-managed policies” in Bangladesh</p>
        
      </div>
      <!-- /.col-md-12 --> 
    </div>
    <!-- /.row --> 
  </div>
  <!-- /.container --> 
</section>
<!-- /.welcom-section -->

<section class="project-overview base-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="title text-center text-primary">Project Overview</h2>
        <p class="text-center">To contribute to the sustainable reintegration of returnees and the progressive achievement 
          of SDG 10.7, “to facilitate orderly, safe, regular and responsible migration and mobility of people, including through 
          the implementation of planned and well-managed policies” in Bangladesh</p>
        <div class="text-center"> <a href="#" class="btn btn-primary">Read More</a> </div>
      </div>
      <!-- /.col-md-12 --> 
    </div>
    <!-- /.row --> 
  </div>
  <!-- /.container --> 
</section>


<section class="service-section base-padding service-section-bg">
  <div class="container">
    <h2 class="main-title title text-center text-primary">STRATEGIC OBJECTIVE</h2>
    <div class="row">
      <div class="col-sm-4 col-md-4">
        <div class="thumbnail"> <img src="assets/images/design-solution.jpg" alt="DESIGN SOLUTIONS">
          <div class="caption">
            <h2 class="title text-primary text-left" >
            Strategic Objective 01
            </h2>
            <p> Irregular migrants returning to Bangladesh are sustainably reintegrated. </p>
            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#design-solution-c">Read More</a> </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-4">
        <div class="thumbnail"> <img src="assets/images/coding.jpg" alt="Optimize Decisions">
          <div class="caption">
            <h2 class="title text-primary text-left">
            Strategic Objective 02
            </h2>
            <p> Improved migration governance facilitates regular, safe and orderly migration in Bangladesh’ </p>
            <a href="develop-customize-solution.php" class="btn btn-primary" data-toggle="modal" data-target="#develop-solution">Read More</a> </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-4">
        <div class="thumbnail"> <img src="assets/images/unity.jpg" alt="SOLUTIONS MANAGE">
          <div class="caption">
            <h2 class="title text-primary text-left">
            Strategic Objective 03
            </h2>
            <p> Returning Migrants, aspirant migrants, families, communities and local government and private sector actors consistently make informed decisions about migration, and practice and promote safe, orderly and regular, migration behaviours, including remittance management </p>
            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#implement-solution">Read More</a> </div>
        </div>
      </div>
    </div>
    <!-- /.row --> 
  </div>
  <!-- /.container --> 
</section>
<!-- /.welcome-section -->

<section class=" base-padding">
  <div class="container">
  <div class="row">
    <h2 class="title text-center text-primary">Sustainable Reintegration</h2>
  </div>
  <!-- /.row -->
  <div class="row">
    <div class=" col-md-6">
    <div class="thumbnail">
    	<div class="caption">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td colspan="4"><h2 class="title1 text-primary1 text-left">Beneciaries Receiving Economic Reintegration Support</h2></td>
        </tr>
        <tr>
          <td colspan="2"></td>
          <td align="right" class="july-top">July</td>
          <td align="right" class="cumulative-top">Cumulative</td>
        </tr>
        <tr>
          <td><img src="assets/images/icons/reintegration-plans.png">
          <td align="left">Completed Reintegration Plans</td>
          <td align="right" class="july">27</td>
          <td align="right" class="cumulative">309</td>
        </tr>
        <tr>
          <td><img src="assets/images/icons/kind-support.png"></td>
          <td align="left">Received in Kind Support</td>
          <td align="right" class="july">24</td>
          <td align="right" class="cumulative">61</td>
        </tr>
        <tr>
          <td><img src="assets/images/icons/skills-training.png"></td>
          <td align="left">Referred for Skills Training</td>
          <td align="right" class="july">01</td>
          <td align="right" class="cumulative">17</td>
        </tr>
        <tr>
          <td><img src="assets/images/icons/other-support.png"></td>
          <td align="left">Referred for Other Support</td>
          <td align="right" class="july">05</td>
          <td align="right" class="cumulative">91</td>
        </tr>
      </table>
      </div>
      </div>
    </div>
    
    
    <div class=" col-md-6">
    <div class="thumbnail">
    	<div class="caption">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td colspan="4"><h2 class="title1 text-primary1 text-left">Beneciaries Receiving Psycho-Social Support</h2></td>
        </tr>
        <tr>
          <td colspan="2"></td>
          <td align="right" class="july-top">July</td>
          <td align="right" class="cumulative-top">Cumulative</td>
        </tr>
        <tr>
          <td><img src="assets/images/icons/enrolled.png"></td>
          <td align="left">Enrolled</td>
          <td align="right" class="july">09</td>
          <td align="right" class="cumulative">275</td>
        </tr>
        <tr>
          <td><img src="assets/images/icons/reintegration-plans.png"></td>
          <td align="left">Completed</td>
          <td align="right" class="july">11</td>
          <td align="right" class="cumulative">149</td>
        </tr>
        <tr>
          <td><img src="assets/images/icons/trauma-counselling.png"></td>
          <td align="left">Referred for Trauma Counselling</td>
          <td align="right" class="july">00</td>
          <td align="right" class="cumulative">07</td>
        </tr>
        <tr>
          <td><img src="assets/images/icons/medical-treatment.png"></td>
          <td align="left">Referred for Medical Treatment</td>
          <td align="right" class="july">04</td>
          <td align="right" class="cumulative">10</td>
        </tr>
      </table>
      </div>
      </div>
    </div>
  </div>
  
  
  
  <div class="row">
    <div class=" col-md-6">
    <div class="thumbnail">
    	<div class="caption">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td colspan="4"><h2 class="title1 text-primary1 text-left">Social Reintegration Support</h2></td>
        </tr>
        <tr>
          <td colspan="2"></td>
          <td align="right" class="july-top">July</td>
          <td align="right" class="cumulative-top">Cumulative</td>
        </tr>
        <tr>
          <td><img src="assets/images/icons/workshops.png"></td>
          <td align="left">Workshops</td>
          <td align="right" class="july">13</td>
          <td align="right" class="cumulative">555</td>
        </tr>
        <tr>
          <td><img src="assets/images/icons/ipt-shows.png"></td>
          <td align="left">IPT Shows</td>
          <td align="right" class="july">128</td>
          <td align="right" class="cumulative">1069</td>
        </tr>
        <tr>
          <td><img src="assets/images/icons/forum-meetings.png"></td>
          <td align="left">Forum Meetings</td>
          <td align="right" class="july">14</td>
          <td align="right" class="cumulative">476</td>
        </tr>
        <tr>
          <td><img src="assets/images/icons/forum-meetings.png"></td>
          <td align="left">DCC Meetings</td>
          <td align="right" class="july">04</td>
          <td align="right" class="cumulative">32</td>
        </tr>
        <tr>
          <td><img src="assets/images/icons/video-shows.png"></td>
          <td align="left">Video Shows</td>
          <td align="right" class="july">343</td>
          <td align="right" class="cumulative">617</td>
        </tr>
        <tr>
          <td><img src="assets/images/icons/school-quiz.png"></td>
          <td align="left">School Quiz</td>
          <td align="right" class="july">60</td>
          <td align="right" class="cumulative">91</td>
        </tr>
      </table>
      </div>
      </div>
    </div>
    
    
    <div class=" col-md-6">
    <div class="thumbnail">
    	<div class="caption">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td colspan="4"><h2 class="title1 text-primary1 text-left">Number of people reached with messages on safe migration, reintegration and remittance management</h2></td>
        </tr>
        <tr>
          <td colspan="2"></td>
          <td align="right" class="july-top">July</td>
          <td align="right" class="cumulative-top">Cumulative</td>
        </tr>
        <tr>
          <td><img src="assets/images/icons/workshops.png"></td>
          <td align="left">IPT Shows</td>
          <td align="right" class="july">39,215</td>
          <td align="right" class="cumulative">3,07,838</td>
        </tr>
        <tr>
          <td><img src="assets/images/icons/migration-fairs.png"></td>
          <td align="left">Migration Fairs</td>
          <td align="right" class="july">00</td>
          <td align="right" class="cumulative">6176</td>
        </tr>
        <tr>
          <td><img src="assets/images/icons/forum-meetings.png"></td>
          <td align="left">Tea Stall Meetings</td>
          <td align="right" class="july">2,677</td>
          <td align="right" class="cumulative">9,405</td>
        </tr>
        <tr>
          <td><img src="assets/images/icons/school-programme.png"></td>
          <td align="left">School Programme</td>
          <td align="right" class="july">5,304</td>
          <td align="right" class="cumulative">6,240</td>
        </tr>
        <tr>
          <td><img src="assets/images/icons/video-shows.png"></td>
          <td align="left">Video Shows</td>
          <td align="right" class="july">71,655</td>
          <td align="right" class="cumulative">1,32,965</td>
        </tr>
      </table>
      </div>
      </div>
    </div>
  </div>
  <!-- /.container --> 
</section>
<!-- /.IMPACT-section -->


<section class="base-padding">
  <div class="container">
  <div class="row">
    <h2 class="title text-center text-primary">10 REINTEGRATION SERVICE CENTER (RSC) covering 64 DISTRICTS</h2>
  </div>
  <div class="row">
    <div class=" col-md-8">
    <div class="thumbnail">
    	<div class="caption">
      <img src="assets/images/bd-map.png"> 
      </div>
      </div>
    </div>
    <div class=" col-md-4">
    <div class="thumbnail">
    	<div class="caption">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
    <td colspan="6" align="center" valign="middle " bgcolor="#CCCCCC" class="cumulative-top">Hotline Services</td>
    </tr>
  <tr>
    <td colspan="4">&nbsp;</td>
    <td align="right" class="july-top">July</td>
    <td align="right" class="cumulative-top"><strong>Cumulative</strong></td>
  </tr>
  <tr>
    <td align="left" valign="middle"><img src="assets/images/icons/female.png"></td>
    <td align="left" class="cumulative">06</td>
    <td align="left" valign="middle"><img src="assets/images/icons/male.png"></td>
    <td align="left" class="july">07</td>
    <td align="right" class="july">13</td>
    <td align="right" class="cumulative">242</td>
  </tr>
  <tr>
    <td colspan="6" class="cumulative-top">164 beneciaries received immediate assistance to date</td>
    </tr>
</table>

    
    </div>
    </div>
    </div>
    
    
    <div class=" col-md-4">
    <div class="thumbnail">
    	<div class="caption">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
    <td colspan="4" align="center" valign="middle " bgcolor="#CCCCCC" class="cumulative-top">Increase capacity of migrants and their families on financial literacy and awareness of available products and services</td>
    </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
    <td align="right" class="july-top">July</td>
    <td align="right" class="cumulative-top"><strong>Cumulative</strong></td>
  </tr>
  <tr>
    <td align="left" valign="middle"><img src="assets/images/icons/workshops.png"></td>
    <td align="left">Number of ToT Conducted</td>
    <td align="right" class="july">01</td>
    <td align="right" class="cumulative">01</td>
  </tr>
  
</table>

    
    </div>
    </div>
    </div>
    
    
    
    
    
    <div class=" col-md-4">
    <div class="thumbnail">
    	<div class="caption">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
    <td colspan="4" align="center" valign="middle " bgcolor="#CCCCCC" class="cumulative-top">Returnees Proled and Screened</td>
    </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
    <td align="right" class="july-top">July</td>
    <td align="right" class="cumulative-top"><strong>Cumulative</strong></td>
  </tr>
  <tr>
    <td align="left" valign="middle"><img src="assets/images/icons/kind-support.png"></td>
    <td align="left">EU Transit</td>
    <td align="right" class="july">52</td>
    <td align="right" class="cumulative">305</td>
  </tr>
  
</table>

    
    </div>
    </div>
    </div>
    
    
    
    <div class=" col-md-4">
    <div class="thumbnail">
    	<div class="caption">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
    <td colspan="4" align="center" valign="middle " bgcolor="#CCCCCC" class="cumulative-top">Returnees Identified</td>
    </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
    <td align="right" class="july-top">July</td>
    <td align="right" class="cumulative-top"><strong>Cumulative</strong></td>
  </tr>
  <tr>
    <td align="left" valign="middle"><img src="assets/images/icons/workshops.png"></td>
    <td align="left">Number of ToT Conducted</td>
    <td align="right" class="july">08</td>
    <td align="right" class="cumulative">1000</td>
  </tr>
  
</table>

    
    </div>
    </div>
    </div>
    
    
    
    </div>
    
    

</div>
</section>



<section class="base-padding">
  <div class="container">
    <div class="row">
      <h2 class="main-title title text-center text-primary">DEVELOPMENT PARTNERS</h2>
      <div class="row">
      	
      <div class="col-lg-3 col-md-12 text-center">
                <div class="service-box"> <img src="assets/images/partner/bd.png"> </div>
            </div>
                
                
                
                
                <div class="col-lg-3 col-md-12 text-center">
                <div class="service-box"> <img src="assets/images/partner/un.png"> </div>
            </div>
                <div class="col-lg-3 col-md-12 text-center">
                <div class="service-box"> <img src="assets/images/partner/iom.png"> </div>
            </div>
                <div class="col-lg-3 col-md-12 text-center">
                <div class="service-box"> <img src="assets/images/partner/brac.png"> </div>
            </div>
      </div>
      
    </div>
    <!-- /.row --> 
  </div>
  <!-- /.container --> 
</section>
<!-- /.service-section -->

<section class="testimonial-section base-padding">
		<div class="container">
        		<h2 class="title text-center text-white">LATEST REPORTS</h2>
			<div class="row">
            <div class="col-sm-6 col-md-6">
        <div class="thumbnail"> <img src="assets/images/pdf1.jpg" alt="DESIGN SOLUTIONS">
          <div class="caption">
            <h2 class="title text-primary text-left" >
            MGI Indicator Report I 2019
            </h2>
            
            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#design-solution-c">Download</a> </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="thumbnail"> <img src="assets/images/pdf2.jpg" alt="DESIGN SOLUTIONS">
          <div class="caption">
            <h2 class="title text-primary text-left" >
            SDG Indicator Report I 2019
            </h2>
            
          <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#design-solution-c">Download</a> </div>
        </div>
      </div>
				
            </div>
        </div>
</section>
{% extends 'footer.html' %}
