{% extends 'base_test.html' %}
{% load i18n %}
{% block additional-headers %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <link href="https://cdn.datatables.net/buttons/1.4.2/css/buttons.dataTables.min.css" rel="stylesheet">
    <link  href="/static/css/viewer.css" type="text/css" rel="stylesheet">
    <style>
    #module {
            width: auto;
            padding-left: 0px !important;
            padding-right: 0px !important;
        }

        #module a.collapsed:after {
            content: '+ Show More';
        }

        #module a:not(.collapsed):after {
            content: '- Show Less';
        }

        .hr_in
        {
            border-color: red;
        }

    .btn-outline {
            width: 50%;
        border-color: #32c5d2;
        margin-bottom: 10px;
    }

    .btn-outline:hover {
        background-color: #32c5d2;
    }
    .modal-body {
background-color: #fbfbfb ;
    text-align: center;
}

    .modal-title
    {
        font-weight: bold !important;
        color:#543521;
        background-color: cadetblue;
    }
    .modal-header
    {
            border-radius: 0px !important;
{#    background-color: #fbfbfb;#}
{#            cadetblue;#}
    }
    .forms_data_panel_heading
    {
    background-color: #b97800 !important;
    border-radius: 0px !important;
    }
    .forms_data_panel_title
    {
        font-weight: 600 !important;
        color: #ffffff;
        text-align: left;
    }

    .btn-success
    {
        background-color: #00b96c !important;
    }

    .modal-dialog {
    width: 95%;
  }
iframe
{
    border-width: 0px !important;
}


    .modal-header {
    min-height: 40px !important;
    padding: 5px 13px 3px 13px !important;;

}


    </style>
{% endblock %}



{% block content %}

<div id="div_content">
<div class="portlet box red" >
        <div class="portlet-title">
            <div class="caption"><i class="fa fa-adn"></i>Beneficiary Profile {% if victim_id %}- {{ victim_id | safe }} {% endif %}</div>
        </div>
        <div class="portlet-body">
            <div class="row">
            <div class="col-md-10 table-responsive">
                <table class="table  table-striped table-hover">
                    <tbody>
                    <tr>
                        <th>Case ID</th>
                        <td>{{ case_id | safe }}</td>
                         <th>Sex</th>
                        <td>{{ victim_sex | safe }}</td>

                    </tr>
                    <tr>
                        <th>Beneficiary's Name</th>
                        <td>{{ victim_name | safe }}</td>
                        <th>Address in country</th>
                        <td>{{ birth_country | safe }}</td>
                    </tr>
                    <tr>
                        <th>Date of Birth</th>
                        <td>{{ birth_date | safe }}</td>
                        <th>Return Date</th>
                        <td>{{ date_return | safe }}</td>
                    </tr>
                    <tr>
                        <th>Age at the time of return</th>
                        <td>{{ victim_age | safe }}</td>
                        <th>Country from</th>
                        <td>{{ return_from | safe }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-2" >

                <img src="{{ beneficiary_picture }}"  class="img-responsive" alt="" onerror=this.src="/static/images/profile.jpg"
                     style="border: 3px solid #f9f9f9;width: 100%;margin: 0 auto; cursor:pointer">
            </div>


            <div class="col-md-10">
                <div id="module" class="container">
                    <div class="collapse row" id="collapseExample" aria-expanded="false">
                        <div class="col-md-6">
                            <h4 style="padding-left: 9px; font-weight: 600 !important">Current Address</h4><hr class="hr_in">
                            <table class="table table-responsive  table-striped table-hover">
                                <tbody>
                                <tr>
                                    <th>Division</th>
                                    <td>{{ current_division | safe }}</td>
                                </tr>
                                <tr>
                                    <th>District</th>
                                    <td>{{ current_district | safe }}</td>
                                </tr>
                                <tr>
                                    <th>Upazila</th>
                                    <td>{{ current_upazila | safe }}</td>
                                </tr>
                                <tr>
                                    <th>Union</th>
                                    <td>{{ current_union | safe }}</td>
                                </tr>
                                <tr>
                                    <th>Ward</th>
                                    <td>{{ current_ward | safe }}</td>
                                </tr>
                                <tr>
                                    <th>Village</th>
                                    <td>{{ current_village | safe }}</td>
                                </tr>
                                <tr>
                                    <th>Post Office</th>
                                    <td>{{ current_postoffice | safe }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <h4 style="padding-left: 9px; font-weight: 600 !important">Permanent Address</h4><hr class="hr_in">
                            <table class="table table-responsive  table-striped table-hover">
                                <tbody>
                                <tr>
                                    <th>Division</th>
                                    <td>{{ permanent_division | safe }}</td>
                                </tr>
                                <tr>
                                    <th>District</th>
                                    <td>{{ permanent_district | safe }}</td>
                                </tr>
                                <tr>
                                    <th>Upazila</th>
                                    <td>{{ permanent_upazila | safe }}</td>
                                </tr>
                                <tr>
                                    <th>Union</th>
                                    <td>{{ permanent_union | safe }}</td>
                                </tr>
                                <tr>
                                    <th>Ward</th>
                                    <td>{{ permanent_ward | safe }}</td>
                                </tr>
                                <tr>
                                    <th>Village</th>
                                    <td>{{ permanent_village | safe }}</td>
                                </tr>
                                <tr>
                                    <th>Post Office</th>
                                    <td>{{ permanent_post_office | safe }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <a role="button" class="collapsed" data-toggle="collapse" href="#collapseExample"
                       aria-expanded="false"
                       aria-controls="collapseExample">
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <form method="post"  action="/asf/generate_pdf/" >
            {% csrf_token %}
            <input type="hidden" name="victim_tbl_id" value="{{ victim_tbl_id | safe }}">
          <button type="submit" class="btn btn-info" data-original-title="" title="">Generate PDF</button>
        </form>
            </div>


        </div>

        </div>

    </div>

 <div id="container"></div>


<div>
    <div class="panel-group" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default" style="margin-bottom: 10px;">
            <div style="height: 48px;" class="panel-heading" role="tab" id="heading100">
                <h4 class="panel-title">
                    <a style="font-weight: bold;" class="collapsed" onclick="" role="button" data-toggle="collapse" href="#collapse100" aria-expanded="false" aria-controls="collapse50"> Progress Status
                    </a>
                </h4>
            </div>
            <div id="collapse100"
 class="panel-collapse collapse" role="tabpanel"

 aria-labelledby="heading100">
                <div class="panel-body">
                    <div class="panel-group" id="internal_accordian100" role="tablist"
 aria-multiselectable="true">

                        <div class="row"  >
                <div id="individual_income_report"></div>

            </div>
            <div>
                <div class="row" style="margin-bottom: 10px;">

                    <div class="col-md-2"><label class="control-label">Quarter </label><br>
                        <select class="form-control" id = "qr">
                            <option value="%">select</option>
                            <option value="March">Q-1: (January -March)</option>
                            <option value="June">Q-2: (April - June)</option>
                            <option value="September">Q-3: (July - September)</option>
                            <option value="December">Q-4: (October - December)</option>
                        </select>
                    </div>
                    <div class="col-md-2"><label class="control-label">Year </label><br>
                        <select class="form-control" id = "yr">
                            <option value="%">select</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label class="control-label"> </label><br>
                        <button id="filter_reint_chart" style="margin-top:8px;" class="btn red-custom btn-md"  data-original-title="" title="">Search</button>
                    </div>

                </div>

            </div>
            <div class="row"  >
                <div id="reintegration_score"></div>
            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>




    <div class="modal fade" id="myModal" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">


                        <h4 class="modal-title" id="myModalLabel"></h4>
                        <button type="button" class="btn btn-sm pull-right" data-dismiss="modal" aria-label="Close" style="background-color: #f5b671;">
          <span aria-hidden="true">×</span>
        </button>
                    </div>
                    <div class="modal-body" >
                    </div>

{#                    <div class="modal-footer"></div>#}
                </div>
            </div>
        </div>

        <div id="images" hidden>
        </div>

{% endblock %}
{% block additional-javascript %}
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.flash.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.print.min.js"></script>
    <script type="text/javascript" src="/static/js/viewer.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <script>


var form_builder_server = '{{ form_builder_server | safe}}';
var iom_reference = '{{ iom_reference | safe }}'
var victim_tbl_id = '{{ victim_tbl_id | safe }}'


var quarter = '{{ qr }}'; var year = '{{ yr }}';$('#qr').val('{{ qr }}'); $('#yr').val('{{ yr }}');
get_progress_report_data(victim_tbl_id)

    var opened = [];

    $('#container').html({{ main_str | safe }});


    function load_forms(category_id, div_id) {

        victim_id = '{{ victim_id | safe }}';
        if (opened.indexOf(category_id) > -1)
            return
        else
            opened.push(category_id);

        $.ajax({
            url: '/asf/get_forms_data/',
            type: 'POST',
            dataType: 'json',
            data: {'category_id': category_id, 'victim_id': victim_tbl_id},
            beforeSend: function () {

                $('#' + div_id).html('<div class="alert alert-success">Please Wait...loading....</div>');
            },
            success: function (result) {
                setTimeout(function () {
                    $('#' + div_id).html(result);
                }, 1000);

            }
        });
    }


    function load_forms_list(category_id) {
        victim_id = '{{ victim_id | safe }}';
{#        $('#form' + category_id).popover();#}
{##}
{#        if (opened.indexOf('#form' + category_id) > -1)#}
{#            return#}
{#        else opened.push('#form' + category_id);#}
        console.log(category_id,victim_id);

        $.ajax({
            url: '/asf/get_forms_list/',
            type: 'POST',
            dataType: 'json',
            data: {'category_id': category_id, 'victim_id': victim_id},
            beforeSend: function () {
            },
            success: function (result) {
{#                console.log(result);#}
                $('.modal-body').html(result);
{#                if(category_id == 1)#}
{#                    $('#myModalLabel').text("Medical Service")#}
{#                else if(category_id == 2)#}
{#                    $('#myModalLabel').text("Physiotherapy Service")#}
{#                else if(category_id == 3)#}
{#                    $('#myModalLabel').text("Psychological Service")#}
{#                else if(category_id == 4)#}
{#                    $('#myModalLabel').text("Social Rehabilitation Support")#}
{#                $('#form' + category_id).attr('data-content', result);#}
{#                $('#form' + category_id).popover('show');#}

            }
        });
    }
var imgs = $(".img-responsive");
                    {#        console.log(imgs[0].outerHTML);#}
                    for (each in imgs) {

                        obj = imgs[each].outerHTML
                        $('#images').append(obj);
                    }
                    var images = document.getElementById("images");
                    console.log(images);
                    const gallery = new Viewer(images);
                    $(".img-responsive").on('click', function (event) {
                        gallery.view($(".img-responsive").index(this));
                    });


    function load_forms_data(logger_id, div_id) {
        console.log(logger_id);

        if (opened.indexOf(logger_id) > -1)
            return
        else
            opened.push(logger_id);

        victim_id = '{{ victim_id | safe }}';

        jQuery.ajax({
            url: '/asf/get_data_view/',
            type: 'POST',
            dataType: 'json',
            data: {'logger_id': logger_id},
            beforeSend: function () {

                jQuery('#' + div_id).html('<div class="alert alert-success">Please Wait...loading....</div>');
            },
            success: function (result) {
                {#                console.log(result);#}
                setTimeout(function () {
                    $('#' + div_id).html(result);
                    $('#images').html("");
                    var imgs = $(".img-responsive");
                    for (each in imgs) {

                        obj = imgs[each].outerHTML
                        $('#images').append(obj);
                    }

                    gallery.update()

                    $(".img-responsive").on('click', function (event) {
                        gallery.view($(".img-responsive").index(this));
                    });



                }, 500);



            }
        });
    }


{#    get_all_img();#}
function get_all_img() {
        var imgs = document.getElementsByClassName("img-responsive");
        console.log(imgs[0].outerHTML);
        for( each in imgs)
        {
            console.log(imgs[each])
            obj = imgs[each].outerHTML
            $('#images').append(obj);
        }
        var images = document.getElementById("images");
        console.log(images);

    }

function load_forms_html(form_id) {
    server_address = '{{ server_address | safe }}'
    username = '{{ username | safe }}'
    victim_id = '{{victim_id | safe}}'

    url = form_builder_server+"/?id="+form_id+"&url="+server_address+"&username="+username+"&beneficiary_id="+victim_id+"&iom_reference="+iom_reference+"&victim_tbl_id="+victim_tbl_id
    console.log(url)
    $('.modal-body').html('<iframe src="'+url+'" style="width:100%;height:500px;"></iframe>');
    window.addEventListener('message',handleIframeTask);
     $('#myModalLabel').text("")
    }

 function load_forms_edit_mode(form_id,instance_id) {
    server_address = '{{ server_address | safe }}'
    username = '{{ username | safe }}'
    url = form_builder_server+"/?id="+form_id+"&url="+server_address+"&username="+username+"&instance_id="+instance_id
    console.log(url)
    $('.modal-body').html('<iframe src="'+url+'" style="width:100%;height:500px;"></iframe>');
    window.addEventListener('message',handleIframeTask);
     $('#myModalLabel').text("")
 }

     function handleIframeTask(e){
            console.log("okay")

            if (e.data === 'submitted form') {
               $('#myModal').modal('hide')
            }
        };


function get_chart(chartType,container,title,yAxisTitle,cat,data){
            Highcharts.chart(container, {
            chart: {
                type: chartType
            },
            title: {
                text: title
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: cat
            },
                legend: {
                     enabled: false
                 }, credits: {
                    enabled: false
                },
            yAxis: {
                title: {
                    text: yAxisTitle
                },
                labels: {
                    formatter: function () {
                        return this.value ;
                    }
                }
            },
            tooltip: {
                crosshairs: true,
                shared: true
            },
            plotOptions: {
                spline: {
                    marker: {
                        radius: 4,
                        lineColor: '#666666',
                        lineWidth: 1
                    }
                }
            },
            series: data
        });
}


function getfilterCriteria(){
            qr = $('#qr').val();
            yr = $('#yr').val();
        }

function get_progress_report_data(ben_tbl_id) {

    $.ajax({
        url: '/asf/get_progress_report_data/',
        type: 'POST',
        dataType: 'json',
        data: {
            'ben_tbl_id': ben_tbl_id

        },
        beforeSend: function () {

        },
        success: function (result) {
            get_chart('spline','individual_income_report','Individual Income data','Monthly average income(tk)',result.income_cat_list,result.income_data_list)

        }
    });
}

function get_reintegration_sustainibility_report(ben_tbl_id) {
    getfilterCriteria()
    $.ajax({
        url: '/asf/get_reintegration_sustainibility_data/',
        type: 'POST',
        dataType: 'json',
        data: {
            'ben_tbl_id': ben_tbl_id,'qr' : qr,'yr' : yr

        },
        beforeSend: function () {

        },
        success: function (result) {
            get_chart('column','reintegration_score','Individual Reintegration Score trend','',result.cat_list,result.data_list)

        }
    });
}



$(document).on("click", "#filter_reint_chart", function () {
 get_reintegration_sustainibility_report(victim_tbl_id)
});
$('#filter_reint_chart').trigger('click');

function delete_forms_data(form_id,log_ins_id) {
    console.log(form_id,log_ins_id);

}
    </script>
{% endblock %}
